<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rmsordersystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rmsordersystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RMSOrderSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RMSOrderSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureICT-SYSTEMConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=cameronsict.database.windows.net;Initial Catalog=ICT-SYSTEM;User ID=serveradmin;Password=Judge.eye12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cameronsict.database.windows.net;Initial Catalog=ICT-SYSTEM;User ID=serveradmin;Password=Judge.eye12" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureICT-SYSTEMConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=cameronsict.database.windows.net;Initial Catalog=ICT-SYSTEM;User ID=serveradmin;Password=Judge.eye12" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ICT-SYSTEMConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=CAMERON-HP;Initial Catalog=ICT-SYSTEM;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICT-SYSTEMConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=CAMERON-HP;Initial Catalog=ICT-SYSTEM;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ICT-SYSTEMConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AzureICT-SYSTEMConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=cameronsict.database.windows.net;Initial Catalog=ICT-SYSTEM;User ID=serveradmin;Password=Judge.eye12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>