<%@ Master Language="VB" CodeFile="MasterPage.master.vb" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <!-- My CSS -->
    <link rel="stylesheet" href="CSS/StyleSheet.css" />

    <!-- Bootstrap import -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div class="page-container">
            <div class="header-container">
                <!-- Header element, logo section -->
                <div class="header-logo">
                    <p class="header-text">RMS Order System</p>
                    <p class="header-text">02380 816000</p>
                    <p class="header-text">contact@retail-manager.com</p>
                </div>
                <div class="header-navigation-desktop">
                    <div class="header-navigation-sitenav">
                        <table class="breadcrumbs-table">
                            <tr>
                                <th>
                                    <p class="navigation-text">You are here: </p>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <ul class="navigation">
                                        <li class="navigation-content">Main System</li>
                                        <li class="navigation-content">View Orders</li>
                                    </ul>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="header-navigation-links">
                        <asp:Menu ID="Menu1" runat="server" DynamicHorizontalOffset="2" Font-Size="1.4em" ForeColor="White" StaticSubMenuIndent="10px">
                            <DynamicHoverStyle BackColor="#284E98" ForeColor="White" />
                            <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                            <DynamicMenuStyle BackColor="#B5C7DE" />
                            <DynamicSelectedStyle BackColor="#507CD1" />
                            <Items>
                                <asp:MenuItem NavigateUrl="/Testing/Master page testing/Default.aspx" Text="Homepage" Value="Invoice"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="Content/Invoice.aspx" Text="Invoice" Value="Invoice"></asp:MenuItem>
                                <asp:MenuItem Text="Customers" Value="Customers">
                                    <asp:MenuItem NavigateUrl="Content/AddCustomer.aspx" Text="Add Customers" Value="Add Customers"></asp:MenuItem>
                                    <asp:MenuItem NavigateUrl="Content/ViewCustomer.aspx" Text="View Customers" Value="View Customers"></asp:MenuItem>
                                </asp:MenuItem>
                                <asp:MenuItem Text="Orders" Value="Orders">
                                    <asp:MenuItem NavigateUrl="Content/AddOrder.aspx" Text="Add Orders" Value="Add Orders"></asp:MenuItem>
                                    <asp:MenuItem NavigateUrl="Content/ViewOrder.aspx" Text="View Orders" Value="View Orders"></asp:MenuItem>
                                </asp:MenuItem>
                                <asp:MenuItem Text="Products" Value="Products">
                                    <asp:MenuItem NavigateUrl="Content/AddProduct.aspx" Text="Add Products" Value="Add Products"></asp:MenuItem>
                                    <asp:MenuItem NavigateUrl="Content/ViewProduct.aspx" Text="View Products" Value="View Products"></asp:MenuItem>
                                </asp:MenuItem>
                            </Items>
                            <StaticHoverStyle BackColor="#284E98" ForeColor="White" />
                            <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                            <StaticSelectedStyle BackColor="#507CD1" />
                        </asp:Menu>
                    </div>
                </div>
            </div>
            <div class="header-navigation-mobile">
                <a href="\" class="header">Homepage</a><br />
                <a href="\Content\Invoice.aspx" class="header">Invoice</a><br />
                <a href="\Content\ViewOrder.aspx" class="header">View Orders</a><br />
                <a href="\Content\AddOrder.aspx" class="header">Add Orders</a><br />
                <a href="\Content\ViewProduct.aspx" class="header">View Products</a><br />
                <a href="\Content\AddProduct.aspx" class="header">Add Products</a><br />
                <a href="\Content\ViewCustomer.aspx" class="header">View Customers</a><br />
                <a href="\Content\AddCustomer.aspx" class="header">Add Customers</a><br />
                <a href="\User Guide\Default.aspx" class="header">User Guide</a><br />
                <a href="http://rmsordersystem.azurewebsites.net" class="header">Legacy Site</a><br />
            </div>
        </div>
    </form>
</body>
</html>
